@font-face {
  font-family: 'Monocode';
  src: local('Monocode'), url(./assets/Monocode-Regular-V01.02b.ttf) format('truetype');
}

.navbar-dark{
  --bs-navbar-hover-color: #60e8cdb6;
  --bs-navbar-active-color: #60E8CD;
}
.bg-dark{
  background-color: #09121f!important;
}
.me-auto {
  margin-right: 0!important;
}
.about-text{
  padding-right: 30px;
}
.about-body{
  color:#8892B0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headers{
  color:white;
  font-family: Monocode;
}
.photo{
  border: 2px solid #60e8cdb6;
  box-shadow: 10px 10px #60E8CD;
}
.App-body{
  
  font-family: Monocode;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 100px 15%;
}
.intro{
  color:#60E8CD;
  font-family: Monocode;
}
.introduction{
  color:white;
  padding:40px 0;
}

.ulist{
  list-style-type: disc;
  list-style: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
}

.list::before {content: "•"; color: #60E8CD;
  display: inline-block; width: 1em;
  margin-left: -1em}

.experienceBlock{
  padding: 80px 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color:#0A192F;
  background-color: #60E8CD;
  border-color: #60E8CD;

}
.nav-tabs{
  --bs-nav-tabs-border-color:#60E8CD;
}
.nav{
  --bs-nav-link-color:#60E8CD;
  --bs-nav-link-hover-color: white;
}

.experience-body{
  color:#8892B0;
  padding: 20px 0;
}
ul{
  list-style: none;
}

.card{
  --bs-card-bg: #0A192F;
  --bs-card-border-color: #60E8CD;
  color:#8892B0;
}
.Cards{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.card-group{
  padding: 20px 0;
}

.contactsBlock{
  padding-top: 80px;
}

.contacts-body{
  padding: 20px 0;}

.icons{
  padding: 30px 50px 50px 0;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

#credits{
  color:#8892B0;
  padding-top: 30px;
}

.links{
  text-decoration: none;
  color:white;
}
.linksBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a:hover{
  color: #60E8CD;
}

@media only screen and (max-width: 700px) {
  .about-body{
    color:#8892B0;
    display: flex;
    flex-direction: column-reverse;
  }
  .about-Photo{
    padding-bottom: 30px;
  }
}