.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.wraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
}

.register-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
