.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.me-auto {
  margin-right: 0!important;
}
.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link{
  color: #000000DE;
  text-decoration: none;
}
.swiperImages{
  width: 175px;
  height: 175px;
  object-fit: cover;
  list-style: none;
}

@media only screen and (max-width: 770px) {
  .swiperImages{
    width: 100px
  }

}
